.bg-dark-grey {
  background-color: var(--bg-color-dark-grey);
}

.bg-light-grey {
  background-color: var(--bg-color-light-grey);
}

.bg-img-dark {
  background-image: url(../../img/02_index.jpg);
  background-size: cover;
}

.bg-img-pink {
  background-image: url(../../img/Hero-area-bg.png);
  background-size: cover;
}

.headline {
  font-family: "Montserrat", sans-serif;
  font-size: 45px;
  text-transform: capitalize;
  color: var(--main-text-color);
  margin-bottom: 20px;
  font-weight: bold;
  text-align: center;
}
.headline.left {
  text-align: left;
}

.paragraph {
  font-family: "Montserrat", sans-serif;
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  text-align: center;
}

.paragraph.left {
  text-align: left;
}

.floating-rignt {
  float: right;
}
