.wrapper {
  width: 500px;
  margin: 20px auto 0;
}

.wrapper .accordion-wrap .accordion-header {
  width: 100%;
  height: 50px;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 3px;
  color: white;
  font-weight: 800;
  position: relative;
  cursor: pointer;
  text-align: start;
}

.wrapper .accordion-wrap .accordion-header:hover {
  background-color: var(--main-color-pink);
}

.wrapper .accordion-wrap .accordion-header::before,
.wrapper .accordion-wrap .accordion-header::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  width: 20px;
  height: 2px;
  background-color: white;
}

.wrapper .accordion-wrap .accordion-header::after {
  transform: rotate(-90deg);
  transition: all 0.5s ease;
}

.wrapper .accordion-wrap .accordion-body {
  width: 100%;
  height: 0;
  transition: all 0.5s ease;
  overflow: hidden;
  background-color: #1111;
}

.wrapper .accordion-wrap .accordion-body p {
  color: white;
  text-align: start;
  padding: 20px;
  line-height: 25px;
}

.wrapper .accordion-wrap .accordion-header.active:after {
  transform: rotate(0);
}

.wrapper .accordion-wrap .accordion-header.active + .accordion-body {
  height: 180px;
}
