.btn {
  display: inline-block;
  padding: 15px 30px;
  background-color: var(--main-color-pink);
  color: var(--main-text-color);
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  border: none;
  user-select: none;
}

.btn:hover {
  background-color: #fff;
  color: #000;
}
